<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<string>а</string>
	</array>
	<key>b</key>
	<array>
		<string>б</string>
	</array>
	<key>d</key>
	<array>
		<string>д</string>
	</array>
	<key>e</key>
	<array>
		<string>е</string>
		<string>э</string>
	</array>
	<key>f</key>
	<array>
		<string>ф</string>
	</array>
	<key>g</key>
	<array>
		<string>г</string>
	</array>
	<key>h</key>
	<array>
		<string>х</string>
	</array>
	<key>i</key>
	<array>
		<string>и</string>
	</array>
	<key>ia</key>
	<array>
		<string>я</string>
	</array>
	<key>io</key>
	<array>
		<string>ё</string>
	</array>
	<key>iu</key>
	<array>
		<string>ю</string>
	</array>
	<key>j</key>
	<array>
		<string>й</string>
	</array>
	<key>k</key>
	<array>
		<string>к</string>
	</array>
	<key>l</key>
	<array>
		<string>л</string>
	</array>
	<key>m</key>
	<array>
		<string>м</string>
	</array>
	<key>n</key>
	<array>
		<string>н</string>
	</array>
	<key>o</key>
	<array>
		<string>о</string>
	</array>
	<key>p</key>
	<array>
		<string>п</string>
	</array>
	<key>r</key>
	<array>
		<string>р</string>
	</array>
	<key>s</key>
	<array>
		<string>с</string>
	</array>
	<key>sch</key>
	<array>
		<string>щ</string>
	</array>
	<key>sh</key>
	<array>
		<string>ш</string>
	</array>
	<key>t</key>
	<array>
		<string>т</string>
	</array>
	<key>tch</key>
	<array>
		<string>ч</string>
	</array>
	<key>ts</key>
	<array>
		<string>ц</string>
	</array>
	<key>u</key>
	<array>
		<string>у</string>
	</array>
	<key>v</key>
	<array>
		<string>в</string>
	</array>
	<key>y</key>
	<array>
		<string>ы</string>
	</array>
	<key>z</key>
	<array>
		<string>з</string>
	</array>
	<key>zsh</key>
	<array>
		<string>ж</string>
	</array>
</dict>
</plist>
